<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=DESKTOP-QLSBE2K\SQLEXPRESS; Initial Catalog = shop; Integrated Security = true"/>
  </connectionStrings>

  <appSettings>
   <!-- <add key="ParentSelectCmd" value="SELECT * FROM customer"/>-->
    <add key="ParentSelectCmd" value="SELECT * FROM store"/>
    <add key="ChildSelectCmd" value="SELECT * FROM purchase"/>
    <!--<add key="parentId" value="sID"/>-->
    <add key="parentId" value="sID"/>
  </appSettings>
</configuration>